<html>

  <title>Analisis de Diabetes</title>
  <head>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h3>Analisis de Diabetes</h3>
      <h2 class="active"> Ingrese los detalles </h2>
  
      <!-- Login Form -->
      <form action= "{{ url_for('GetValues')}}" method="post">
        <!-- 
          'Pregnancies',
          'PlasmaGlucose',
          'DiastolicBloodPressure',
          'TricepsThickness',
          'SerumInsulin',
          'BMI',
          'DiabetesPedigree',
          'Age'
          0,148,58,11,179,39.19207553,0.160829008,45
        -->

        <input required type="number" id="preganancies" class="fadeIn second" name="preganancies"" placeholder="Preganancies">
        <input required type="number" id="plasmaglucose" class="fadeIn second" name="PlasmaGlucose" placeholder="PlasmaGlucose">
        <input required type="number" id="diastolicbloodpressure" class="fadeIn second" name="DiastolicBloodPressure" placeholder="DiastolicBloodPressure">
        <input required type="number" id="tricepsthickness" class="fadeIn second" name="TricepsThickness" placeholder="TricepsThickness">
        <input required type="number" id="seruminsulin" class="fadeIn second" name="SerumInsulin" placeholder="SerumInsulin">
        <input required type="number" step="0.01" id="bmi" class="fadeIn second" name="bmi" placeholder="BMI">
        <input required type="number" step="0.01" id="diabetespedigree" class="fadeIn second" name="DiabetesPedigree" placeholder="DiabetesPedigree">
        <input required type="number" id="age" class="fadeIn second" name="age" placeholder="Age">

        <input required type="submit" class="fadeIn fourth" value="Predict">
       
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        
        <h4 class = "underlineHover">{{ prediction_text }}</h4>
      </div>
  
    </div>
  </div>

  <!--
  <div class="container-fluid masthead">
    <div class="container">
      <div class="row">
        <div class="col">
            <form method="POST">
                <div class="form-group">
                  <label for="translation">
                      <blockquote class="blockquote">
                          <p class="mb-2">Enter the details as indicated:</p>
                      </blockquote>
                  </label>
                  <textarea class="form-control" name="number_vmail_messages" rows="1" 
                      placeholder="number_vmail_messages"></textarea>
                  <textarea class="form-control" name="total_day_calls" rows="1"
                      placeholder="total_day_calls"></textarea>
                  <textarea class="form-control" name="total_eve_minutes" rows="1"
                      placeholder="total_eve_minutes"></textarea>
                  <textarea class="form-control" name="total_eve_charge" rows="1"
                      placeholder="total_eve_charge"></textarea>
                  <textarea class="form-control" name="total_intl_minutes" rows="1"
                      placeholder="total_intl_minutes"></textarea>
                  <textarea class="form-control" name="number_customer_service_calls" rows="1"
                      placeholder="number_customer_service_calls"></textarea>
              </div>

              <div class="form-group">
              </div>
              <button type="submit" class="btn btn-primary mb-2">Predict</button></br>
              </br>
            </form>
        </div>
        <div class="col">
            <form>
                <div class="form-group">
                    <label for="translation-result">

                        <blockquote class="blockquote">
                            <p class="mb-2">Prediction:</p>
                        </blockquote>

                    </label>
                    <textarea readonly class="form-control" id="exTextarea" rows="5">{{ response }}</textarea>
                </div>
            </form>
        </div>
    </div>
  </div>

  -->

</html>